@page "/ViewTicket/{Id}"
@attribute [Authorize]
@using TicketSystem.Data
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@inject ITicketService ticketService
@inject NavigationManager NavigationManager
@inject IHttpContextAccessor httpContextAccessor
@inject UserManager<AspNetUser> userManager
@inject IUserService userService
@inject IMessageService messageService
@inject IJSRuntime js
<h3>@ticket.Title</h3>

<AuthorizeView Roles="OfficeSupport, TechSupport">
    <Authorized>
        <div>
            <div>
                Author: @author.UserName (@author.Firstname @author.Lastname)
            </div>
            <div>
                <div>
                    <textarea readonly rows="20" cols="120">@ticket.Content</textarea>
                </div>
                <div>
                    <img src="/Images/@ticket.ImageUrl" alt="Attached image" width="300" />
                </div>
            </div>
            <section class="discussion">
                @foreach (Message message in messages)
                {
                    if ((loggedInUser.Role == "OfficeSupport" && ticket.RefersTo == "OfficeSupport")
                        || (loggedInUser.Role == "TechSupport" && ticket.RefersTo == "TechSupport"))
                    {
                        if (message.UserId != author.Id)
                        {
                            <div class="bubble sender">@message.Content</div>
                        }
                        else
                        {
                            <div class="bubble recipient">@message.Content</div>
                        }
                    }
                    else if (loggedInUser.Id == author.Id)
                    {
                        if (message.UserId == loggedInUser.Id)
                        {
                            <div class="bubble sender">@message.Content</div>
                        }
                        else
                        {
                            <div class="bubble recipient">@message.Content</div>
                        }
                    }
                }
            </section>
            @if (loggedInUser.Role == ticket.RefersTo)
            {
                <textarea class="blockedresizing" @bind="message.Content" rows="4" cols="120"></textarea>
                <button @onclick="SendMessage" value="Send">Send</button>
            }
        </div>
    </Authorized>
</AuthorizeView>
<AuthorizeView Roles="Junior, Senior, MidLevel">
    <Authorized>
        <div>
            <div>
                @ticket.Title
            </div>
            <div>
                Author: @author.UserName (@author.Firstname @author.Lastname)
            </div>
            <div>
                <div>
                    <textarea readonly rows="20" cols="120">@ticket.Content</textarea>
                </div>
                <div>
                    <img src="/Images/@ticket.ImageUrl" alt="Alternative text" width="100" />
                </div>
            </div>
            <section class="discussion">
                @if (messages != null)
                {
                    @foreach (Message message in messages)
                    {
                        if (message.UserId == author.Id)
                        {
                            <div class="bubble sender">@message.Content</div>
                        }
                        else
                        {
                            <div class="bubble recipient">@message.Content</div>
                        }
                    }
                }
            </section>
            @if (loggedInUser.Id == author.Id)
            {
                <textarea class="blockedresizing" @bind="message.Content" rows="4" cols="120"></textarea>
                <button @onclick="SendMessage" value="Send">Send</button>
            }
        </div>
    </Authorized>
</AuthorizeView>

@code {
    [Parameter]
    public string Id { get; set; }
    Ticket ticket = new();
    AspNetUser loggedInUser = new();
    AspNetUser author = new();
    List<Message> messages = new();
    Message message = new();

    private Task<AspNetUser> GetCurrentUserAsync() => userManager.GetUserAsync(httpContextAccessor.HttpContext.User);

    protected override async Task OnInitializedAsync()
    {
        //ticket = await Task.Run(() => ticketService.GetTicketAsync(Convert.ToInt32(Id)));
        ticket = ticketService.GetTicket(Convert.ToInt32(Id));
        //author = await Task.Run(() => userService.GetUserAsync(ticket.UserId));
        author = userService.GetUser(ticket.UserId);
        loggedInUser = await Task.Run(() => GetCurrentUserAsync());
        messages = messageService.GetAllMessages();
        messages = messages.Where(m => m.Ticket.TicketId == ticket.TicketId).ToList();

    }
    private void NavigateToTickets()
    {
        NavigationManager.NavigateTo("/Tickets/");
    }
    protected void SendMessage()
    {
        message.Ticket = ticket;
        message.UserId = loggedInUser.Id;
        if (messageService.CreateMessage(message))
        {
            messages = messageService.GetAllMessages().Where(m => m.Ticket.TicketId == ticket.TicketId).ToList();
            message = new();
            StateHasChanged();
        }
    }
}